body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 1200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
  background-color: #ffffff;
}

.form-section {
  padding: 40px;
}

.form-section img {
  margin-bottom: 20px;
}

.btn-success {
  background-color: #00d563;
  border-color: #00d563;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #00b74a;
  border-color: #00b74a;
  
}

#language-selector {
  max-width: 200px;
  border-radius: 8px;
}

.image-section img {
  max-width: 100%;
  object-fit: cover;
  /* background-color: #F3B6C7; */
}
#divone{
  background-color: #F3B6C7;
}